<link rel="stylesheet" href="css/card.css" />
<div id="card" onmouseover="this.style.cursor = 'pointer'" onclick="document.location.href='/post/<%= post._id %>';return true;">
  <div id="side">
    <div id="upvote">
      <a href="#">
        <img
          src="/img/neutral.png"
          alt="Upvote"
          onmouseout="this.src='/img/neutral.png'"
          onmouseover="this.src='/img/upvote.png'"
        />
      </a>
    </div>
    <div id="votes">Vote</div>
    <div id="downvote">
      <a href="#">
        <img
          src="/img/neutral.png"
          alt="Downvote"
          onmouseout="this.src='/img/neutral.png'"
          onmouseover="this.src='/img/downvote.png'"
        />
      </a>
    </div>
  </div>
  <div id="center">
    <div id="top">
      <div id="left-top">
        <div id="card-icon">
          <img src="/img/user.png" alt="user" />
        </div>
        <!-- <div id="group">u/memes .</div> -->
        <div id="uid">Posted by u/<%= post.author.username %></div>
      </div>
      <!-- <div id="join">
        <a href="/">+ JOIN</a>
      </div> -->
    </div>
    <div id="content">
        <p><%= post.title %></p>
        <img src="<% post.imageurl %> " alt="">
    </div>
    <div id="bottom">
      <div id="comment">
        <a href="#">Comments</a>
      </div>
      <div id="share">
        <a href="#">Share</a>
      </div>
      <div id="save">
        <a href="#">Save</a>
      </div>
    </div>
  </div>
</div>
