<link href="/css/footer.css" rel="stylesheet" type="text/css" />
<div id="footer">
  <div id="top-f">
    <div id="left-f">
      <a href="about">About</a>
      <a href="#">Help</a>
    </div>
    <div id="right-f">
      <a href="#">Privacy Policy</a>
      <a href="#">Terms</a>
      <a href="#">Content Policy</a>
    </div>
  </div>
  <p id="bottom-f">Reddit Inc © 2021 . All rights reserved</p>
</div>
