<link rel="stylesheet" href="/css/navbar.css" />
<div id="header">
  <div id="navbar">
    <div id="icon">
      <a href="/">
        <img src="/img/icon.png" alt="logo" />
        <h2>reddit</h2>
      </a>
    </div>
    <a href="Signup" class="link">Signup</a>
    <a href="about" class="link">About</a>
    <a href="/" class="link">Home</a>
  </div>
</div>
