<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reddit</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <%- include("layouts/header") %>
    <div id="main">
        <div id="cards-container">
            <div><%- include("layouts/card") %></div>
        </div>
        <div id="footer-container">
            <%- include("posts/newsubreddit") %>
            <%- include("layouts/footer") %>
        </div>
    </div>
</body>
</html>