<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>reddit</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%- include("layouts/header", { page, username }) %>
    <div id="main">
      <div id="cards-container">
        <% posts.forEach(post => { %>
        <div><%- include("layouts/card", { post }) %></div>
        <% }) %>
      </div>
      <div id="footer-container">
       <% if(username) {%>  <%- include("layouts/createpost") %> <% } %>  <%- include("layouts/footer") %>
      </div>
    </div>
  </body>
</html>
