<link rel="stylesheet" href="/css/newpost.css" />
<%- include("layouts/header", {page : "search", username}) %>
<div id="post-window">
  <form action="/post/new" method="post" id="post-form">
    <div id="main-content">
      <label for="textbox">Text: </label>
      <input type="textbox" name="title" id="title" placeholder="Enter text here" />
    </div>
    <div id="drop-region">
      <div class="drop-message">Drag & Drop images or click to upload</div>
      <div id="image-preview"></div>
    </div>
    <div id="upload-content">
      <a href="javascript:{}" onclick="document.getElementById('post-form').submit();" id="post-content">Post</a>
      <a href="/" id="cancel-post">Cancel</a>
    </div>
  </form>
</div>
<script src="js/imageupload.js"></script>