#navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(32, 32, 32);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

#icon {
    float: left;
}

#icon h2 {
    display: inline;
    float: right;
    font-size: 30px;
    color: rgb(255, 234, 234);
    margin: 0;
    padding: 10px;

}

#icon img {
    padding: 5px;
    height: 40px;
    width: 40px;
}

#search {
    float:right;
    margin: 1px auto;
    padding: 5px;
    display: inline-block;
}

#search input {
    border-radius: 5px;
    border-style: solid;
    border-color: aliceblue;
    width: 500px;
    padding: 10px;
    display: inline-block;
}

.link {
  float: right;
  display: inline-block;
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
}
