body {
  margin: 0;
  padding: 0;
  box-shadow: none;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

#post-content {
  /* padding: 30px 20px; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 70%;
  margin: 30px auto;
}

#sub-post {
  flex: 70%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

#post-box {
    flex: 50%;
}


#make-comment{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 5px;
  width: 100%;
}

#comment-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 5px;
  
}

#comment-form div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 90%;
}

#comment-form div div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#comment-form div div textarea {
  color: white;
  flex: 90%;
  background-color: grey;
  border: 2px;
  border-color: white;
  border-radius: 10px 0px 0px 10px;
  resize: none;
  cursor: pointer;
}

#comment-form div div input {
  flex: 10%;
  background-color: rgb(161, 159, 159);
  border: none;
  border-radius: 0px 10px 10px 0px;
}

.comment-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 10px;
}

.comment-box h4 {
  margin: 5px;
  font-weight: 300;
  color: rgb(160, 160, 160);
}

.comment-box p {
  margin: 5px;
}

.comment-box hr {
  width: 100%;
}

#footer-container {
  flex: 30%;
  margin-left: 20px;
  height: 150px;
  /* display: inline-block; */
}